@import '@fontsource/inter';
@tailwind base;
@tailwind components;
@tailwind utilities;
*{
	box-sizing: border-box;
	font-family: 'Inter', sans-serif;
}
img{
	box-shadow: -2px 2px 2px rgba(0,0,0, .8), -4px 4px 4px rgba(0,0,0, .6);
}
@media screen and (max-width: 767px) {
	input, select, textarea {
	  font-size: 16px;
	}
  }